html,body{
	margin: 0;
	text-align: center;
	padding: 0;
}
.prods ul{
    margin: 0;
    padding: 0;
}
.prods ul li{
	width: 100%;
	list-style: none;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.data-content li{
	padding: 10px 0;
	list-style: none;
	text-align: left;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

li.head{
    text-transform: uppercase;
    text-align: center
}